@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;padding: 0;
}

.header-area-inner{
    background-image: url('images/Abaout-us-Banner-1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    /* height: 600px; */
    /* padding: 230px 0 270px; */
}

.main-header{
    position: relative;
}

.main-inner-pages{
    position: fixed;
    left: 0;
    right: 0;
    padding: 25px 15px;
}

.main-inner-pages .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* menu */

.main-menu .navbar {
    padding: 0;
}

.main-menu li.nav-item:hover > a {
    color: #fff;
}

.main-menu .sub-menu li:hover > a {
    background: #fff;
    color: #fff;
}


.navbar-toggler-icon {
    background-image: none;
}

.main-menu li.nav-item {
    position: relative;
    margin-right: 40px;
}

.main-menu .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: block;
    /* padding: 20px 0; */
    color: #fff;
}

.main-menu .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #007b52;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .main-menu .navbar-nav .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  

.sub-nav-toggler{
    background-color: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 90px;
}

.main-menu li:hover .sub-menu::after {
    opacity: 1;
    visibility: visible;
}

.sub-menu::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background: #056251;
    visibility: hidden;
    opacity: 0;
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: none;
}

.main-menu ul.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 120px;
    width: 190px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 99;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
    display: block;
    border-bottom: 1px solid #eee;
}

.main-menu .sub-menu li a {
    font-family: "Syne", sans-serif;
    display: block;
    padding: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #007b52;
}

.main-menu .sub-menu li:last-child {
    border-bottom: none;
}

.header-right a{
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;   
    vertical-align: top;
    text-align: center;
    transition: all 0.3s ease-in-out !important;
}

.header-right a:hover{
    box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.common-container{
    max-width: 1240px;
}

.common-btn{
    padding: 15px 45px;
    background-color: #007b52;
    color: #fff;
    display: flex;
    width: max-content;
}

.banner-content{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 88px 15px 64px;
}

.banner-content .common-container{
    padding-top: 40px;
    color: #fff;
}

.radiantthemes-separator.element-one > .radiantthemes-separator-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background-color: #007b52;
}

.radiantthemes-separator.element-one > .radiantthemes-separator-block > .radiantthemes-separator-block-gap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12px;
    background-color: #fff;
    animation: RadiantThemesSeparatorAnimation 1.5s infinite ease-in-out;
}

.heading-common{
    color: #007b52;
    font-weight: 600;
    margin-bottom: 15px;
}

.logo img{
    width: 50px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.logo span{
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}


/* about page */


.about-section
{
    padding: 120px 80px;
}

.about-img1{
    background-image: url('images/About-01.jpg');
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
}

.about-img2{
    background-image: url('images/About-2.jpg');
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    right: -84%;
    top: -60%;
}


.about-content{
    padding-top: 100px;
}

.about-desc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-desc h2{
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Jost';
}


.philosophy-title-desc{
    font-size: 20px;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: .6px;
    font-weight: 600;
    width: 60%;
}

.philosophy-photos{
    position: relative;
}

.philosophy-img{
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.39, 0.01, 0.36, 0.9);
    border-radius: 0px;
    width: 100%;
}

.philosophy-photos:hover img{
    transform: scale(1.10);
    -webkit-filter: brightness(45%);
    transition: all 0.5s cubic-bezier(0.39, 0.01, 0.36, 0.9);
    transform-style: preserve-3d;
    cursor: pointer;
}

.philosophy-data{
    width: 100%;
    position: absolute;
    top: 56%;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}


.data-inner{
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    transition: all .5s cubic-bezier(.12, .65, .4, 1);
}

.philosophy-photos:hover .data-inner{
    opacity: 1 !important;
}

.philosophy-title{
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.philosophy-details{
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 27px;
    letter-spacing: 0px;
}


.video-section{
    background-image: url('images/demo5-img2.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 120px 0px 0px 0px;
    position: relative;
    padding: 130px 0 230px;
}

.abt-why-choose{
    position: absolute;
    left: -300px;
    top: -30px;
}

.abt-why-choose-btn{
    display: flex;
    gap: 10px;
    align-items: center;
}

.abt-why-choose-btn span{
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
}

.abt-why-choose-btn:hover span, .abt-why-choose-btn:hover a{
    color: #007b52;
}

.abt-why-choose-desc p{
    margin: 0;
    padding: 0 0 23px;
    font-size: 14px;
    line-height: 24px;
}

#watch-tutorial{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}



/* event page css */

.header-area-event{
    background-image: url('images/event-banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    /* height: 600px; */
    /* padding: 230px 0 270px; */
}

.event-banner-content{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 88px 15px 64px;
}

.event-banner-content .common-container{
    padding-top: 40px;
    color: #fff;
}

.event-banner-content h1{
    width: 30%;
    font-family: 'Jost';
    text-transform: capitalize;
    line-height: 55px;
    font-weight: 600;
    font-style: normal;
}

.event-page-section{
    padding: 100px 80px;
}

.event-page-section h2{
    font-family: 'Jost';
    text-transform: capitalize;
    line-height: 47px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
}

.event-title-desc{
    width: 55%;
}

.event-item{
    margin-bottom: 30px;
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
}

.event-main-div {
    position: relative;
    overflow: hidden;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.event-main-div:hover .event-img {
    border-radius: 0px;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.event-img{
    position: relative;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.39, 0.01, 0.36, 0.9);
    border-radius: 0px;
}

.event-img img{
    width: 100%;
    height: 250px;
}

.event-figure {
    background: #ffffff;
    border-style: solid;
    border-width: 0px 0px 8px 0px;
    border-color: #007b52;
    padding: 28px 0px 0px 0px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
}

.event-figure::before{
    padding: 30px 0px 10px 0px;
    margin-top: 8px;
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
    border-radius: 0;
    transform-origin: 0 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.event-main-div:hover .event-figure::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.event-main-div:hover .event-figure{
    background-color: #007b52;
}

.event-date {
    margin-top: 2%;
}

.event-date-number{
    color: #007b52;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.event-date-month{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #007b52;
}

.event-main-div:hover .event-date-number , .event-main-div:hover .event-date-month {
    color: #fff !important;
}

.event-title-divide{
    padding-left: 0;
    padding-right: 0;
}

.long-dash{
    background-color: #007b52;
    width: 2px;
    height: 84px;
    float: left;
}

.event-main-div:hover .long-dash {
    background-color: #fff !important;
}

.event-title-part {
    padding-left: 0px;
    padding-right: 0;
    margin-left: -10px;
}

.event-title-part h4 , .event-title-part p{
    color: #007b52;
}

.event-title {
    margin-top: 0px;
    width: 100%;
    text-align: left;
    float: left;
    margin-bottom: 8px;
}

.event-main-div:hover .event-figure .event-title {
    margin-top: 0px;
    width: 100%;
    text-align: left;
    float: left;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: #fff;
}

.event-details {
    color: #434343;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0 !important;
}

.event-main-div:hover .event-figure .event-details {
    color: #fff !important;
}

/* contact page css */

.header-area-contact{
    background-image: url('images/contact-banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    /* height: 600px; */
    /* padding: 230px 0 270px; */
}

.contact-banner-content{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 230px 0 270px;
}

.contact-form-section{
    padding: 120px 80px;
}


.contact-desc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-desc h2{
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Jost';
}

.contact-form{
    background: #fff;
    box-shadow: 0px 0px 10px 5px rgba(173, 173, 173, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 39px 40px !important;
    margin-top: -220px;
}

.contact-form-inner{
    display: flex;
    flex-direction: column;
}

.form-heading, .form-content{
    margin: 0;
    padding: 0 0 15px;
}

input[type='text'], input[type='tel'], input[type='email'], textarea{
    padding: 15px 15px;
    border: 1px solid #d8dada;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

input[type='submit']{
    padding: 10px 35px;
    color: #fff;
    background-color: #007b52;
    border: none;
}

input:hover{
    border: 1px solid #afb1b1;
}

input[type='text']:focus, input[type='tel']:focus, input[type='email']:focus{
    outline: none;
}

textarea{
    height: 150px;
}

.contact-map-section{
    padding: 120px 80px;
    background-color: #f9f9f9;
}

.contact-details{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.contact-details .contact-page-desc p{
    margin: 0;
}

.contact-page-desc a:hover{
    font-weight: bold;
    color: inherit;
}




























/* event section */


.event-section{
    padding: 120px 80px;
}

.event-holder .event-pic{
    position: relative;
    margin-bottom: 0px;
    padding-top: calc((66 / 100) * 100%);
    overflow: hidden;
    transition: all 1.5s cubic-bezier(0, 0, .2, 1);
}

.pic-main1, .pic-main2, .pic-main3, .pic-main4{
    background-image: url('images/akashwani.jpeg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size: cover;
    transition: all 1.5s cubic-bezier(0, 0, .2, 1);
}

.pic-main2{
    background-image: url('images/jalkot-event.jpeg');
}

.pic-main3{
    background-image: url('images/nanded-event.jpeg');
}

.pic-main4{
    background-image: url('images/training-event.jpeg');
}

.event-holder:hover .pic-main1, .event-holder:hover .pic-main2, .event-holder:hover .pic-main3, .event-holder:hover .pic-main4 {
    cursor: pointer;
    transform: scale3d(1.1, 1.1, 1.1);
}


.event-data{
    margin-top: 22px;
}

ul.meta{
    margin-bottom: 13px;
    list-style: none;
}

.date{
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 26px;
    letter-spacing: .8px;
    color: #b9babb;
}

.event-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
    color: #222;
    margin-bottom: 9px;
}

.event-title a{
    color: inherit;
}

.read-more{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 2px;
    padding: 0;
    border: none;
    margin-bottom: 0;
}

.read-more .arrow{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 1px;
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 15px;
    /* margin-left: 10px; */
    background-color: #222;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.event-holder:hover .read-more .arrow{
    width: 60px;
    background-color: #007b52 !important;
}

.event-holder:hover .read-more .text{
    color: #007b52;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -7px;
}

.swiper-pagination-bullet-active{
    background-color: #007b52;
}







/* footer section */


.footer-section{
    background-color: #007b52;
    color: #fff;
}

.footer-inner{
    padding: 87px 15px;
}

.footer-logo img{
    width: 70px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.footer-logo{
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}

.footer-section h4{
    font-size: 'Jost';
    line-height: 34px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section p, .footer-section ul li a{
    color: #fff;
}

.footer-section ul li{
    padding: 5px 0px;
}


.bottom-footer{
    position: relative;
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #efb333;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.bottom-footer .common-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-accounts{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

/* fade effects */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fadeInUp{
    animation-duration: 1s;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    animation-name: fadeInUp;
}

.active.fadeInLeft{
    animation-name: fadeInLeft;
    animation-duration: 1.25s;
}

.active.fadeInRight{
    animation-name: fadeInRight;
    animation-duration: 1.25s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes RadiantThemesSeparatorAnimation {
    0% {
        left: -12px;
    }
    100% {
        left: 100%;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}